<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLysKhachSan.Properties.Settings.QLKSConnectionString"
            connectionString="Data Source=DESKTOP-53IQ0S1\SQLEXPRESS;Initial Catalog=QLKS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>